[mysqld]
server-id=1
log-bin=master-bin
binlog-ignore-db=information_schema
binlog-ignore-db=mysql
replicate-ignore-db=information_schema
replicate-ignore-db=mysql
replicate-do-db=read-write
log-slave-updates
slave-skip-errors=all
slave-net-timeout=60

[mysql]
default-character-set=utf8